<div class="container">
  <div class="row">
    <div class="col-md-4">
        <!--User info-->
        <table class="table table-hover">
            <h1>User info</h1>
            <thead>
                <tr>
                    <th class="image"><%= image_tag @user.get_profile_image(100,100) %></</th>
                </tr>
                <tr>
                    <th class="name">name</th>
                    <th><%= @user.name %></th>
                </tr>
                <tr>
                    <th class="introduction">introduction</th>
                    <th><%= @user.introduction %></th>
                </tr>
            </thead>
          <% if @user.id == current_user.id %>
            <th>
              <%= link_to edit_user_path, class: "btn mx-auto table-hover", method: :get do %>
                <span class="fas fa-user-cog"></span>
              <% end %>
            </th>
          <% else %>
            <th></th>
          <% end %>
        </table>

        <!--New book-->
        <h1>New book</h1>
        <% if @book.errors.any? %>
          <%= @book.errors.count %>件のエラーが発生しました
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_with model: @book do |f| %>
          <h4>Title</h4>
            <%= f.text_field :title %>
          <h4>Opinion</h4>
            <%= f.text_area :body %>
          <p><button type="submit" class="btn btn-primary bg-success">Create Book</button></p>
        <% end %>
    </div>
    <div class="col-md-6 offset-md-2">
      <!--Book show-->
      <%= render 'books/list', books: @books %>
    </div>
  </div>
</div>