<div class="container">
  <% if @newbook.errors.any? %>
    <h2>
      <%= @newbook.errors.count %>errors prohibited this obj from being saved:</br>
    </h2>
      <ul>
      <% @newbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <!--User info-->
      <table class="table">
          <h1>User info</h1>
          <thead>
              <tr>
                  <th class="image"><%= image_tag @book.user.get_profile_image(100,100) %></</th>
              </tr>
              <tr>
                  <th class="name">name</th>
                  <th><%= @book.user.name %></th>
              </tr>
              <tr>
                  <th class="introduction">introduction</th>
                  <th><%= @book.user.introduction %></th>
              </tr>
            <th>
              <%= link_to edit_user_path(@book.user), class: "btn" do %>
                 <span class="fas fa-user-cog"></span>
              <% end %>
            </th>

      </table>
      <!--New book-->
      <h1>New book</h1>
        <%= form_with model: @newbook do |f| %>
          <p>Title</p>
            <%= f.text_field :title %>
          <p>Opinion</p>
            <%= f.text_area :body, maxlength: "200" %>

          <p><button type="submit" class="btn btn-primary bg-success">Create Book</button></p>
        <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <!--Book detail-->
      <table class="table">
        <h1>Book detail</h1>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %>
                <p><%= @book.user.name %></p>
              <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>

            <% if @book.user == current_user %>
            <td>
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary bg-success", method: :get %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), class: "btn btn-primary bg-danger", method: :delete %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>